@charset "UTF-8";
@font-face {
    font-family:'passion one';
    src: url(PassionOne-Regular.ttf) format(truetype);
}
@font-face {
    font-family:'sriracha';
    src: url(Sriracha-Regular.ttf) format(truetype);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    height:auto;
    min-width:300px;
    font-family: 'passion one';
    background-color: #000000;
    color:#ffffff;
    padding: 50px;
    margin: -8px;
    padding-bottom: 30px;
}
header > h1{
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 9vw;
    text-align: center;
    margin-top:23px;
    margin-bottom:-15px;
    letter-spacing:5px;

}
header > p{
    height:auto;
    min-width:300px;
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    text-align: center;
}
a{
    font-weight:bolder;
    text-decoration:none;
    color:#ffffff;
}
a:hover{
    text-decoration: underline;
}
section{
    white-space: pre-wrap;
    padding:30px;
    font-family: 'sriracha';
    font-size:3vw;
}
.imagem01{

    background-image:url(imagens/background001.jpg);
    background-repeat:no-repeat;
    background-position:right center;
    background-size:cover;
    background-attachment:fixed;
}
.imagem01 > p{
    background-color:#00000033;
    width:800px;
    min-width:200px;
    color:#ffff;
    text-shadow:2px 2px black;
}
.imagem02{
    background-image:url(imagens/background002.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.imagem02 > p{
    background-color:#00000033;
    width:805px;
    min-width:200px;
    color:#ffff;
    text-shadow:2px 2px black;
}
footer{
    text-align:center;
    background-color: #000000;
    color:#ffffff;
    margin:-8px;
    padding:3px;
}